<form class="example-form">
  <div *ngFor="let c of allConversations">
    <button (click)="selectConversation(c)">{{c.id}}
      <a [hidden]="conversation !== c">*</a>
    </button>
  </div>
  <br/>
  <div *ngIf="conversation">
    <div id="translation-result">
      <li *ngFor="let t of conversation.talks">
        {{ t.sourceText }} || {{ t.targetText }}
      </li>
    </div>

    <mat-radio-group [(ngModel)]="currentLanguage" name='currentLanguage'>
      <mat-radio-button *ngFor="let conv of availableLanguages" [value]="conv">
        {{convertLanguageToString(conv)}}
      </mat-radio-button>
    </mat-radio-group>
    <br/>

    <mat-form-field (keydown)="keyDown($event)">
      <input matInput name="text-input" placeholder="Insert text" [(ngModel)]="inputText">
    </mat-form-field>

  </div>

</form>